
<form #frm="ngForm" (ngSubmit)="editData(frm.value)">
    <div> 
        <label>Enter Course Id</label>
        <input type="number" name="id" class="form-control" placeholder="Enter Course Id" [ngModel]="empObj?.id">
    </div>
    <div>
        <label>Enter Course Name</label>
        <input type="text" name="coursename" class="form-control" placeholder="Enter Course Name " [ngModel]="empObj?.coursename">
    </div>
    
    <div>
    <label>Enter Course Duration</label>
    <input type="text" name="courseduration" class="form-control" placeholder="Enter Course Duration" [ngModel]="empObj?.courseduration">
</div>
<div>
    <label>Enter Course Fees</label>
    <input type="number" name="coursefees" class="form-control" placeholder="Enter Course Fees " [ngModel]="empObj?.coursefees">
</div>
<button type="submit" class="btn btn-primary mt-2" [disabled]="frm.invalid">submit</button>
</form>