

<form #frm="ngForm" (ngSubmit)="getData(frm.value)">
    <div>
        <label>Enter  Id</label>
        <input type="text" name="id" class="form-control" placeholder="Enter  Id" ngModel required>
    </div>
    <div>
        <label>Enter Full Name</label>
        <input type="text" name="fullname" class="form-control" placeholder="Enter Full Name " ngModel required>
    </div>
    
    <div>
    <!-- <label>Enter Contact</label>
    <input type="text" name="contact" class="form-control" placeholder="Enter Contact" ngModel required> -->
</div>
<div>
    <label>Enter Email</label>
    <input type="text" name="email" class="form-control" placeholder="Enter Email " ngModel required>
</div>
<div>
    <label>Enter Qualification</label>
    <input type="text" name="qualification" class="form-control" placeholder="Enter Qualification " ngModel required>
</div>
<div>
    <label>Enter passout</label>
    <input type="text" name="passout" class="form-control" placeholder="Enter passout " ngModel required>
</div>

<div>
    <label>Enter specialization</label>
    <input type="text" name="specialization" class="form-control" placeholder="Enter specialization " ngModel required>
</div><button type="submit" class="btn btn-primary mt-2" [disabled]="frm.invalid">submit</button>
</form>

<!-- [disabled]="frm.invalid" -->